<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogDirectory" value="C:\Users\lister\LogTest" />
    <add key="User" value="Guy" />
    <add key="Password" value="test"/>
    <add key="DeviceId" value="45"/>
    <add key="Url" value="http://10.211.55.6:62916/api/"/>
    <add key="7Zip" value="C:\\Program Files\\7-Zip\\7z.exe"/>
  </appSettings>
</configuration>