<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogDirectory" value="C:\Users\lister\LogTest" />
    <add key="User" value="Guy" />
    <add key="Password" value="test"/>
    <add key="Url" value="http://10.211.55.6:62916/api/"/>
    <add key="7Zip" value="C:\\Program Files\\7-Zip\\7z.exe"/>
    <add key="ErrorLog" value="rdiapp.log"/>
  </appSettings>
  <connectionStrings>
    <add name="SupplyAgentDB" connectionString="Data Source=GUYLISTER3546;Initial Catalog=SupplyAgent6;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>